<div class="container mt-5 pt-5" id="about">
  <div class="row">
    <div class="col-md text-center">
      <img
        class="img-fluid w-75 rounded z-depth-1 animated fadeIn"
        src="https://rohan-iit.github.io/self.jpg"
        alt="Rohan Pawar"
      />
    </div>

    <div class="col-md text-center">
      <h2 class="h1-responsive font-weight-bold text-center my-0 py-0">
        About me
      </h2>

      <p class="lead mt-2">Master's Student | Software Engineer</p>
      <p class="mt-2 font-weight-normal mb-0">
        I'm Rohan Pawar, a dedicated master's student at the Illinois Institute
        of Technology, ITM program.
        With a bachelor's degree in Computer Science Engineering and three years
        of hands-on experience as a software engineer, I've cultivated a strong
        skill set encompassing Python, Java, NodeJS, the development of
        RESTful APIs, and SQL databases.
      </p>
    </div>
  </div>
</div>
