
<div id="experience" class="container">
  <h2 class="h1-responsive font-weight-bold text-center mb-4">Experience</h2>

  <div class="note note-light my-3">
    <h4><i class="fas fa-briefcase mx-2"></i> Software engineer</h4>
    <p class="font-weight-bold ml-2">June 2020 - December 2022</p>
    <ul class="list-unstyled font-weight-normal">
      <li>
        <ul>
          <li>
            Collaborated with the development team to understand software
            requirements and specifications
          </li>
          <li>
            Designed and updated software database and program. This includes
            but is not limited to Software Applications, Data Communication
            Processes, and User Interfaces
          </li>
          <li>
            Compiled timely, comprehensive, and accurate documentation and or
            reports
          </li>
          <li>
            Identified ideas to improve system performance and impact
            availability
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="note note-light mt-3">
    <h4><i class="fas fa-briefcase mx-2"></i> Software engineer Intern</h4>
    <p class="font-weight-bold ml-2">December 2019 - May 2020</p>
    <ul class="list-unstyled font-weight-normal">
      <li>
        <ul>
          <li>
            Worked with experienced team members to review and understand existing code

          </li>
          <li>
            Developed, tested, and implemented software programs and user interfaces
          </li>
          <li>
            Gained up-to-date knowledge of technological developments in the industry
          </li>
        </ul>
      </li>
    </ul>
  </div>

</div>
