<div id="experience" class="container">
  <h2 class="h1-responsive font-weight-bold text-center mb-4">Experience</h2>

  <div class="note note-light my-3">
    <h4><i class="fas fa-briefcase mx-2"></i> Software engineer</h4>
    <p class="font-weight-bold ml-2">June 2020 - December 2022</p>
    <ul class="list-unstyled font-weight-normal">
      <li>
        <ul>
          <li>
            Successfully led the migration of 100+ RESTful APIs to serverless
            Lambda functions on the AWS platform, achieving a remarkable 20%
            reduction in operational cost
          </li>
          <li>
            Transformed a monolithic application into 60 microservices,
            resulting in a 40% improvement in application performance and
            enabling scalability to meet increasing demands by 10%
          </li>
          <li>
            Implemented indexing strategies, reducing query response time by
            30% and optimizing query count, resulting in a 25% improvement in
            database performance for read-heavy tasks. Additionally,
            experimented with data denormalization, enhancing query efficiency
            by 20%
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="note note-light mt-3">
    <h4><i class="fas fa-briefcase mx-2"></i> Software engineer Intern</h4>
    <p class="font-weight-bold ml-2">December 2019 - May 2020</p>
    <ul class="list-unstyled font-weight-normal">
      <li>
        <ul>
          <li>
            Worked with experienced team members to review and understand
            existing code
          </li>
          <li>
            Developed, tested, and implemented software programs and user
            interfaces
          </li>
          <li>
            Gained up-to-date knowledge of technological developments in the
            industry
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
