<footer id="footer" class="page-footer text-center font-small wow fadeIn mt-5">
  <div class="container">
    <div
      class="row py-3 text-center d-flex justify-content-center align-items-center"
    >
      <div class="py-2 mx-3">
        <form class="form-inline">
          <input
            class="form-control form-control-md"
            type="text"
            placeholder="Your message"
            aria-label="Your message"
          />
        </form>
      </div>
      <div class=" py-2">
        <form class="input-group">
          <input
            type="text"
            class="form-control form-control-md"
            placeholder="Your email"
            aria-label="Your email"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append mx-3">
            <button class="btn btn-sm btn-outline-white my-0" type="button">
              Contact me!
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-2">
    ©2023 Copyright:
    <a href="#"> Rohan</a>
  </div>
</footer>
