<div class="container" id="project">
  <h2 class="h1-responsive font-weight-bold text-center mb-4">Projects</h2>

  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="row">
          <div class="col-md-6">
            <img
              class="img-fluid rounded-left"
              src="/images/Proj_img2.png"
              alt="project image"
            />
          </div>

          <div class="col-md-6 p-4 align-self-center">
            <h5 class="font-weight-normal mb-3">
              Python script to get realtime Stock data 
            </h5>

            <p class="text-muted text-justify">
              Python script to plot realtime stock data in real-time using Matplotlib also
              uses the example of SBIN (State Bank of India).
              Graph plotted using Matplotlib library and nse-py package used to fetch the Stock Exchnage data.
            </p>

            <ul class="list-unstyled font-small mt-2 mb-0">
              <li>
                <p class="mb-1">
                  <strong>Technology </strong>
                </p>
                <p class="text-muted mb-4">Python, Numpy, Pandas, Matplotlib</p>
              </li>

              <li>
                <div class="d-flex justify-content-end mb-0 pb-0">
                  <a
                    class="nav-link border border-dark text-dark rounded-pill waves-effect waves-light"
                    href="#"
                    role="button"
                    >Source Code<i class="fab fa-github ml-2"></i
                  ></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="row">
          <div class="col-md-6">
            <img
              class="img-fluid rounded-left"
              src="/images/Proj_img2.png"
              alt="project image"
            />
          </div>

          <div class="col-md-6 p-4 align-self-center">
            <h5 class="font-weight-normal mb-3">
              Python script to get realtime Stock data 
            </h5>

            <p class="text-muted text-justify">
              Python script to plot realtime stock data in real-time using Matplotlib also
              uses the example of SBIN (State Bank of India).
              Graph plotted using Matplotlib library and nse-py package used to fetch the Stock Exchnage data.
            </p>

            <ul class="list-unstyled font-small mt-2 mb-0">
              <li>
                <p class="mb-1">
                  <strong>Technology </strong>
                </p>
                <p class="text-muted mb-4">Python, Numpy, Pandas, Matplotlib</p>
              </li>

              <li>
                <div class="d-flex justify-content-end mb-0 pb-0">
                  <a
                    class="nav-link border border-dark text-dark rounded-pill waves-effect waves-light"
                    href="#"
                    role="button"
                    >Source Code<i class="fab fa-github ml-2"></i
                  ></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-2 my-2"></div>
    <div class="col-md-4  my-2">
      <!-- Card Dark -->
      <div class="card">
        <!-- Card image -->
        <div class="overlay">
          <div class="embed-responsive embed-responsive-21by9">
            <iframe
              class="embed-responsive-item"
              src="https://www.youtube-nocookie.com/embed/QqMEbIcJ_Xc?si=yccyxhutLztWf9C9&autoplay=1&mute=1"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body elegant-color white-text rounded-bottom">
          <!-- Title -->
          <h5 class="card-title">Online food order app</h5>
          <hr class="hr-light" />
          <!-- Text -->
          <h6 class="card-text white-text mb-4 text-justify">
            Application features a selection of customizable food options that
            can be ordered with minimal clicks, providing a superior user
            experience and for restaurant owners to manage their orders and
            sales.
          </h6>
          <ul class="list-unstyled font-small mb-0">
            <li>
              <p class="mb-2">
                <strong>Technology </strong>
              </p>
              <p class="text-reset mb-0 pb-0">
                NodeJS, Express, MySQL, Javascript, Bootstrap, HTML, CSS
              </p>
            </li>
          </ul>
          <!-- Link -->
          <!-- <a href="#!" class="white-text d-flex justify-content-end">
            <p>Read more <i class="fas fa-angle-double-right"></i></p>
          </a> -->
        </div>
      </div>
      <!-- Card Dark -->
    </div>
    <div class="col-md-4 my-2">
      <!-- Card Dark -->
      <div class="card">
        <!-- Card image -->
        <div class="overlay">
          <div class="embed-responsive embed-responsive-21by9">
            <iframe
              class="embed-responsive-item"
              src="https://www.youtube-nocookie.com/embed/2TllZamEd98?si=CSHgf8Exvw-GiVIL&autoplay=1&mute=1"
              frameborder="0"
              allow=" autoplay;"
              allowfullscreen
            ></iframe>
          </div>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body elegant-color white-text rounded-bottom">
          <!-- Title -->
          <h5 class="card-title">Covid hospital management app</h5>
          <hr class="hr-light" />
          <!-- Text -->
          <h6 class="card-text white-text mb-4 text-justify">
            The COVID-19 pandemic highlighted the need for a system to track
            local hospital data. This application, hosted on the Google Cloud
            Platform using Firebase hosting services, provides a solution to
            this problem.
          </h6>
          <ul class="list-unstyled font-small mb-0">
            <li>
              <p class="mb-2">
                <strong>Technology </strong>
              </p>
              <p class="text-reset mb-0 pb-0">
                NodeJS, Express, PgSQL, Javascript, Bootstrap, HTML, CSS
              </p>
            </li>
          </ul>
          <!-- Link -->
          <!-- <a href="#!" class="white-text d-flex justify-content-end">
            <p>Read more <i class="fas fa-angle-double-right"></i></p>
          </a> -->
        </div>
      </div>
      <!-- Card Dark -->
    </div>
    <div class="col-md-2my-2"></div>
  </div>
</div>
