<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Rohan's Portfolio</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello, everyone!


      I'm Rohan.</p>
  </body>
</html>
